.container > h3 {
    padding-top: 50px;
}
.container > h3 {
    padding-top: 30px;
}

.d-inline{
    display: block !important;
}

.word-break{
    word-break: keep-all !important;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.form_row_group{
    height: max-content;
    display: flexbox;
    justify-content:left;
    align-items: baseline;
    font-size: 90%;
}

.form_row_group label{
    margin-left: 10px;
}

.section1_1{
    display: flex;
    justify-content:left;
    align-items: baseline;
}

.section1_1 label {
    font-size: 90%;
}

.section1.d-inline label {
    display: flex !important;
}

.section1.word-break {
    word-break: normal !important;
}

table {
    overflow:auto;
}

table td {
    height: max-content;
    vertical-align: middle;
}
.form-control input{
    margin: auto;
}

p.add-button {
    width: 100%;
    height: 100%;
    background-color: grey;
}


.collapse1 {
    background-color: #4F957D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
    margin: 0;
    margin-bottom: 30px;

    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
.collapse2 {
    background-color: #4F957D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
    margin: 0;
    margin: 30px 0;

    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapse1:hover {
    background-color: rgb(204, 204, 204);
}
.active, .collapse2:hover {
    background-color: rgb(204, 204, 204);
}
  
  /* Style the collapsible content. Note: hidden by default */
.content1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.content2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}