div.content1 {
    overflow-y: auto;
}

div.content2 {
    overflow-y: auto;
}

div.content3 {
    overflow-y: auto;
}

div.content4 {
    overflow-y: auto;
}

div.btn-error {
    background: red !important;
    border: none !important;
    border-radius: 0px !important;
    color: white;
}

div.btn-error:hover {
    background: rgb(136, 0, 0) !important;
    color: white;
}

a.btn-primary {
    border: none !important;
    border-radius: 0px !important;
    background: #4F957D !important;
}

input[type="submit"] {
    border: none !important;
    border-radius: 0px !important;
    background: #4F957D !important;
}

input[type="submit"]:hover {
    background: #315a4c !important;
}

input[type="submit"].btn-secondary {
    background: #575757 !important;
}

input[type="submit"].btn-secondary:hover {
    background-color: #181818 !important;
}

input[type="submit"].btn-cancel {
    background: #575757 !important;
}

input[type="submit"].btn-cancel:hover {
    background-color: #181818 !important;
}

input[type="submit"]:disabled {
    background: #8eada2 !important;
}

div.btn-primary {
    background: #4F957D !important;
    border: none !important;
    border-radius: 0px !important;
}

div.btn-primary:hover {
    background: #315a4c !important;
}

div.btn-info {
    background: #95904f !important;
    border: none !important;
    border-radius: 0px !important;
}

div.btn-info:hover {
    background: #686537 !important;
}

.container>h3 {
    padding-top: 50px;
}

.container>h3 {
    padding-top: 30px;
}

.d-inline {
    display: block !important;
}

.word-break {
    word-break: keep-all !important;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.form_row_group {
    height: max-content;
    display: flexbox;
    justify-content: left;
    align-items: baseline;
    font-size: 90%;
}

.form_row_group label {
    margin-left: 10px;
}

.section1_1 {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.section1_1 label {
    font-size: 90%;
}

.section1.d-inline label {
    display: flex !important;
}

.section1.word-break {
    word-break: normal !important;
}

table {
    overflow: auto;
}

table td {
    height: max-content;
    vertical-align: middle;
}

.form-control input {
    margin: auto;
}

p.add-button {
    width: 100%;
    height: 100%;
    background-color: grey;
}

h4 {
    font-size: 1.2rem !important;
    color: white !important;
}

li {
    list-style-position: outside;
}

.collapse1 {
    background-color: #4F957D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    margin: 15px 0;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    padding: 10px;
    font-size: 1.2rem !important;
}

.collapse2 {
    background-color: #4F957D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    margin: 15px 0;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    padding: 10px;
    font-size: 1.2rem !important;
}

.collapse3 {
    background-color: #4F957D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    margin: 15px 0;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    padding: 10px;
    font-size: 1.2rem !important;
}

.collapse4 {
    background-color: #4F957D;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    margin: 15px 0;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    padding: 10px;
    font-size: 1.2rem !important;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapse1:hover {
    background-color: #315a4c;
}

.active,
.collapse2:hover {
    background-color: #315a4c;
}

.active,
.collapse3:hover {
    background-color: #315a4c;
}

.active,
.collapse4:hover {
    background-color: #315a4c;
}


/* Style the collapsible content. Note: hidden by default */

.content1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content3 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content4 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.grading-table {
    width: 70%;
}

.grading-table.td {
    width: 10rem;
}