th {
    height: 30px;
}

tr {
    height: 80px;
}


.paginate_button {
    background-color: rgb(121, 177, 157);
    border: none;
    border-radius: 0px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.thead-light {
    background-color: rgb(79, 149, 125);
    color: white;
}

/* Ipad and above */
@media screen and (max-width: 768px) {
    .secondary{
      display: none;
    }
    .essential {
        padding: 0px;
        width: 194px;
    }
}


@media screen and (max-width: 630px) {
    .secondary{
      display: none;
    }
    .essential {
        max-width: 210px;
    }
    .essential-head {
        max-width: 210px;
    }
}

/* iPhone 7 and below */
@media screen and (max-width: 376px) {
    .secondary{
      display: none;
    }
    .essential-head {
        padding: 0px;
        max-width: 90px;
    }
    .essential {
        font-size: small;
        padding: 0px;
        max-width: 90px;
    }
}