thead {
    height: 30px;
}

th {
    text-align: center;
}

tr {
    height: 80px;
}

.dropdown {
    width: fit-content;
}

.dropdown.custom-select{
    padding: 0px;
    width: 100%;
    word-break: break-all;
    height:50px;
    line-height: 40px;
    background:inherit;
}


.no-sort{
    text-align: center;
    max-width: 5rem;
}

.coursecode{
    width: calc(fit-content + 20px);
}


.thead-light {
    background-color: #4F957D;
    color: white;
}

/* Ipad and above */
@media screen and (max-width: 768px) {
    .secondary{
      display: none;
    }
    .essential {
        padding: 0px;
        width: 194px;
    }
}


@media screen and (max-width: 630px) {
    .secondary{
      display: none;
    }
    .essential {
        max-width: 210px;
    }
    .essential-head {
        max-width: 210px;
    }
    .no-sort{
        max-width: 100px;
    }
}

/* iPhone 7 and below */
@media screen and (max-width: 376px) {
    .secondary{
      display: none;
    }
    .essential-head {
        padding: 0px;
        max-width: 90px;
    }
    .essential {
        font-size: small;
        padding: 0px;
        max-width: 90px;
    }
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: relative;
    display: block;
    font-family: FontAwesome;
    padding-left: 5px;
}

table.dataTable thead th.sorting:after {
    content: "⥯";
}

table.dataTable thead th.sorting_asc:after {
    content: "↾";
}
table.dataTable thead th.sorting_desc:after {
    content: "⇃";
}

table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    position: inherit;
    display: inline;
}
table.dataTable thead th.sorting:after, table.dataTable thead th.sorting_asc:after, table.dataTable thead th.sorting_desc:after {
    right: -.5em;
}
