{{! This file is part of Moodle - http://moodle.org/ Moodle is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version. Moodle is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details. You should have received a copy of the GNU General Public License along with Moodle. If not, see
<http://www.gnu.org/licenses/>. }} {{! @template local_banner/manage Template to display the list of forum discussions. Classes required for JS: * none Data attributes required for JS: * none Context variables required for this template: * TODO Example context (json): { } }}

<script>
    function confirmTadDelete(deletelink) {
        if (window.confirm('Biztosan törli?')) {
            window.location.href = deletelink
        }
    }
</script>

<div class="container-fluid">
    <div class="list">
        <a class="btn btn-primary" href='https://test.edu.gtk.bme.hu/local/tad/editall.php' target=" _blank ">
            <span>Új hozzáadása</span>
        </a>
        <hr>
        <div class="row justify-content-between">
            <div class="col-md col-sm-3 ">
                <strong>ID</strong>
            </div>
            <div class="col-md col-sm-3 ">
                <strong>Kurzus neve</strong>
            </div>
            <div class="col-md col-sm-3 ">
                <strong>Course name</strong>
            </div>
            <div class="col-md col-sm-3 ">
                <strong>Tárgykód</strong>
            </div>
            <div class="col-md col-sm-3 ">
                <strong>Készítette</strong>
            </div>
            <div class="col-md col-sm-3 ">
                <strong></strong>
            </div>
        </div>
        <hr> {{#tads}}
        <div class="row justify-content-between ">
            <div class="col-md col-sm-3 ">
                <a href="{{{viewlink}}}"><span>{{id}}</span></a>
            </div>
            <div class="col-md col-sm-3 ">
                <a href="{{{viewlink}}}"><span>{{coursename}}</span></a>
            </div>
            <div class="col-md col-sm-3 ">
                <p>{{coursename_en}}</p>
            </div>
            <div class="col-md col-sm-3 ">
                <a href="{{{viewlink}}}"><span>{{coursecode}}</span></a>
            </div>
            <div class="col-md col-sm-3 ">
                <p>{{created_by}}</p>
            </div>
            <div class="col-md col-sm-12 ">
                <div class="btn btn-primary " onclick="window.location.href='{{{editlink}}}' " target="_blank ">
                    <span>Szerkesztés</span>
                </div>
                <div class="btn btn-primary " onclick="window.location.href='{{{clonelink}}}' ">
                    <span>Klónozás</span>
                </div>
                <div class="btn btn-error " onclick="confirmTadDelete('{{{data.deletelink}}}')">
                    <span>Törlés</span>
                </div>
            </div>
        </div>
        <hr> {{/tads}} {{^tads}}
        <h2>Nincs megjeleníthető tartalom</h2>
        {{/tads}}
    </div>
</div>
<link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z " crossorigin="anonymous ">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>