{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_banner/manage

    Template to display the list of forum discussions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}
<input type="hidden" name="outcomes_value_1" id="id_outcomes_value_1">
<input type="hidden" name="outcomes_value_2" id="id_outcomes_value_2">
<input type="hidden" name="outcomes_value_3" id="id_outcomes_value_3">
<input type="hidden" name="outcomes_value_4" id="id_outcomes_value_4">
<input type="hidden" name="supportmaterial" id="id_supportmaterial">
<div class="container">
    <h3>2.  CÉLKITŰZÉSEK ÉS TANULÁSI EREDMÉNYEK – OBJECTIVES AND LEARNING OUTCOMES</h1>
    <hr>
    <label for="id_s_2_1">2.1 Célkitűzések - Objectives</label>
    <div class='row'>
        <div class='col-sm-12  col-md'>
            <textarea type="textarea" name='objectives' id='id_objectives' class='form-control' placeholder='magyar' {{readonly}}></textarea>
        </div>
        <div class='col-sm-12  col-md'>
            <textarea type="textarea" name='objectives_en' id='id_objectives_en' class='form-control' placeholder='angol' {{readonly}}></textarea>
        </div>
    </div>
    <hr>
    <h4 for="">2.2 Tanulmányi eredmények</h4>
    <label for="">Tudás</label>
    <div class="outcomes_1">
        <ol id="outcomes_1" style="padding: 0px;">
            <li class="outcomes_1">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="magyar" class="form-control outcome_1"  {{readonly}}></textarea>
                    </div>
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="angol" class="form-control outcome_1_en" {{readonly}}></textarea>
                    </div>
                </div>
            </li>
        </ol>
        <div class="container" >
            <div class="row">
                <div class="col-sm-6 btn btn-primary"  onclick="handleNewOutcome1('outcomes_1')">
                    <span>Új sor hozzáadása</span>
                </div>
                <div class="col-sm-6 btn btn-info delete-button"  onclick="handleRowDelete('outcomes_1')">
                    <span>Utolsó sor törlése</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <label for="">Képesség</label>
    <div class="outcomes_2">
        <ol id="outcomes_2" style="padding: 0px;">
            <li class="outcomes_2">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="magyar" class="form-control outcome_2"  {{readonly}}></textarea>
                    </div>
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="angol" class="form-control outcome_2_en"  {{readonly}}></textarea>
                    </div>
                </div>
            </li>
        </ol>
        <div class="container" >
            <div class="row">
                <div class="col-sm-6 btn btn-primary"  onclick="handleNewOutcome2('outcomes_2')">
                    <span>Új sor hozzáadása</span>
                </div>
                <div class="col-sm-6 btn btn-info delete-button"  onclick="handleRowDelete('outcomes_2')">
                    <span>Utolsó sor törlése</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <label for="">Attitűd</label>
    <div class="outcomes_3">
        <ol id="outcomes_3" style="padding: 0px;">
            <li class="outcomes_3">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="magyar" class="form-control outcome_3"  {{readonly}}></textarea>
                    </div>
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="angol" class="form-control outcome_3_en"  {{readonly}}></textarea>
                    </div>
                </div>
            </li>
        </ol>
        <div class="container" >
            <div class="row">
                <div class="col-sm-6 btn btn-primary"  onclick="handleNewOutcome3('outcomes_3')">
                    <span>Új sor hozzáadása</span>
                </div>
                <div class="col-sm-6 btn btn-info delete-button"  onclick="handleRowDelete('outcomes_3')">
                    <span>Utolsó sor törlése</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <label for="">Önállóság és felelősség</label>
    <div class="outcomes_4">
        <ol id="outcomes_4" style="padding: 0px;">
            <li class="oc_1_1">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="magyar" class="form-control outcome_4" {{readonly}}></textarea>
                    </div>
                    <div class="col-sm-12 col-md">
                        <textarea type="textarea" placeholder="angol" class="form-control outcome_4_en" {{readonly}}></textarea>
                    </div>
                </div>
            </li>
        </ol>
        <div class="container" >
            <div class="row">
                <div class="col-sm-6 btn btn-primary"  onclick="handleNewOutcome4('outcomes_4')" {{readonly}}>
                    <span>Új sor hozzáadása</span>
                </div>
                <div class="col-sm-6 btn btn-info delete-button delete-button"  onclick="handleRowDelete('outcomes_4')" {{readonly}}>
                    <span>Utolsó sor törlése</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <label for="">2.3 Oktatásmódszertan - Methodology of teaching</label>
    <div class='row'>
        <div class='col-sm-12  col-md'>
            <textarea type="textarea" id="id_methodology" name="methodology" placeholder="magyar" class="form-control" {{readonly}}></textarea>
        </div>
        <div class='col-sm-12  col-md'>
            <textarea type="textarea" id="id_methodology_en" name="methodology_en" placeholder="angol" class="form-control" {{readonly}}></textarea>
        </div>
    </div>
    <hr>
    <label for="">2.4 Tanulástámogató anyagok - Materials supporting learning</label>
    <div class="supportmaterials">
        <ol id="supportmaterials" style="padding: 0px;">
            <li class="supportmaterials">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <input type="text" placeholder="" class="form-control supportmaterial" {{readonly}}/>
                    </div>
                </div>
            </li>
        </ol>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 btn btn-primary" onclick="handleNewSupport('supportmaterials')" {{readonly}}>
                    <span>Új sor hozzáadása</span>
                </div>
                <div class="col-sm-6 btn btn-info delete-button delete-button"  onclick="handleRowDelete('supportmaterials')" {{readonly}}>
                    <span>Utolsó sor törlése</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row" style="padding-top: 1rem; padding-bottom: 1rem;">
            <div class="col-sm-12 btn btn-primary"  onclick="gatherSection2()">
                <span>Űrlap véglegesítése</span>
            </div>
        </div>
    </div>
</div>