{{! This file is part of Moodle - http://moodle.org/ Moodle is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version. Moodle is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details. You should have received a copy of the GNU General Public License along with Moodle. If not, see
<http://www.gnu.org/licenses/>. }} {{! @template local_banner/manage Template to display the list of forum discussions. Classes required___ for JS: * none Data attributes required___ for JS: * none Context variables required___ for this template: * TODO Example context (json): { }
}}

<div class="container">
    <div class="row" style="margin-bottom: 5rem !important;">
        <div class="col-md-6">
            <div class="btn btn-primary " onclick="window.location.href='{{{data.editlink}}}' " target="_blank ">
                <span>Szerkesztés</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn btn-primary " onclick="window.location.href='{{{data.homelink}}}' " target="_blank ">
                <span>Főoldal</span>
            </div>
        </div>
    </div>
    <h2>I. TANTÁRGYLEÍRÁS – COURSE DESCRIPTION</h1>
        <div class="section1-title">
            <h4>1. ALAPADATOK - SUBJECT DATA</h4>
        </div>
        <h6 for="id_coursename">1.1 Tantárgy neve - Name of the subject </h6>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <p>{{data.coursename}}</p>
            </div>
            <div class=" col-sm-12  col-md">
                <p>
                    {{data.coursename_en}}
                </p>
            </div>
        </div>
        <hr>
        <div class="row  justify-content-between">
            <div class="col-md-5">
                <h6>1.2 Azonosító (tantárgykód) - Subject code</h6>
            </div>
            <div class="col-md-4">
                <h6>1.3 A tantárgy jellege - Course type</h6>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class=" col-sm-12  col-md-4">
                <p>
                    {{data.coursecode}}
                </p>
            </div>
            <div class=" col-sm-12  col-md-4">
                <p>{{data.coursetype}}/{{data.coursetype_en}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-md-4">
                        <h6>1.4 Kurzustípusok és óraszámok - Course type and number of lessons</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>1.5 Tanulmányi teljesítményértékelés - Type of assessment</h6>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-4">
                        <table class="table-striped table">
                            <tr>
                                <th>
                                    Típus
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Óraszám/Lessons
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Előadás
                                </td>
                                <td>
                                    Lecture
                                </td>
                                <td class="coursetype-center">
                                    {{data.lecture}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Gyakorlat
                                </td>
                                <td>
                                    Practice
                                </td>
                                <td class="coursetype-center">
                                    {{data.practice}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Labor
                                </td>
                                <td>
                                    Laboratory
                                </td>
                                <td class="coursetype-center">
                                    {{data.laboratory}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p>{{data.assesmenttype}}/{{data.assesmenttype_en}}</p>
                        <div class="row">
                            <div class=" col-sm-12  col-md">
                                <h6>1.6 Kreditszám – Number of credits</h6>
                                <p>{{data.credit}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h6>1.7 Tantárgyfelelős – Course leader</h6>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <p>
                    Neve/Name: {{data.courseleadername}}
                </p>
            </div>
            <div class=" col-sm-12  col-md">
                <p>Beosztása/Rank: {{data.courseleaderrank}}/{{data.courseleaderrank_en}}</p>
            </div>
            <div class=" col-sm-12  col-md">
                <p>Elérthetősége/Contact: {{data.courseleadercontact}}</p>
            </div>
        </div>
        <hr>
        <h6 for="id_oua">1.8 Tantárgyat gondozó oktatási szervezeti egység – Organisational unit for the subject</h6>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <p>{{data.ou}}</p>
            </div>
            <div class=" col-sm-12  col-md">
                <p>{{data.ou_en}}</p>
            </div>
        </div>
        <hr>
        <h6 for="id_website">1.9 A tantárgy weblapja – Subject website</h6>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <a href="{{{data.website}}}" target="_blank">{{data.website}}</a>
            </div>
        </div>
        <hr>
        <h6 for="id_lang">1.10 A tantárgy oktatásának nyelve - language of teaching</h6>
        <div class="row">
            <div class=" col-sm-12 col-md">
                <p>{{data.lang}}</p>
            </div>
        </div>
        <hr>
        <h6 for="id_corriculumrole">1.11 A tantárgy tantervi szerepe, ajánlott féléve - Corriculum role of the subject, recommended semester</h6>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <p>{{data.corriculumrole}}</p>
            </div>
            <div class=" col-sm-12  col-md">
                <p>{{data.corriculumrole_en}}</p>
            </div>
        </div>
        <hr>
        <h6 for="id_strong">1.12 Közvetlen előkövetelmények – Pre-requisites</h6>
        <div class="container-fluid">
            <div class="row">
                <div class=" col-sm-12  col-md-4">
                    <p><strong>Erős/Strong:</strong> {{data.strong}}</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12  col-md-4">
                    <p><strong>Gyenge/Weak:</strong> {{data.weak}}</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12  col-md">
                    <p><strong>Párhuzamos/Parallel:</strong> {{data.paralell}}</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12  col-md">
                    <p><strong>Kizáró/Exclusive: </strong>{{data.exclusive_1}}</p>
                </div>
            </div>
        </div>
        <hr>
        <h6 for="id_validity">1.13 A tantárgyleírás érvényessége – Validity of the Course Description</h6>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <p>
                    {{data.validity}}
                </p>
            </div>
            <div class=" col-sm-12  col-md">
                <p>
                    {{data.validity_en}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12  col-md">
                <div>
                    <h6 for="">Jóváhagyás dátuma - Valid from</h6>
                    <p>{{data.validby}} </p>
                </div>
            </div>
            <div class=" col-sm-12  col-md">
                <div>
                    <h6 for="">Érvényesség vége - Valid until</h6>
                    <p>{{data.validuntil}} </p>
                </div>
            </div>
        </div>
        <div class="collapse2" id="">
            <h4>2. CÉLKITŰZÉSEK ÉS TANULÁSI EREDMÉNYEK – OBJECTIVES AND LEARNING OUTCOMES</h4>
        </div>
        <div class="content2" id="content2">
            <h6>2.1 Célkitűzések - Objectives</h6>
            <div class='row'>
                <div class='col-sm-12  col-md'>
                    <p>{{data.objectives}}</p>
                </div>
                <div class='col-sm-12  col-md'>
                    <p>{{data.objectives_en}}</p>
                </div>
            </div>
            <hr>
            <h5 for="">2.2 Tanulmányi eredmények - Learning outcomes</h5>
            <h6>A. Tudás/Knowledge</h6>
            <div class="outcomes_1">
                <ol id="outcomes_1" style="padding: 0px;">
                    {{#data.outcome_1}}
                    <li class="outcomes_1">
                        <div class="row">
                            <div class="col-sm-12 col-md">
                                <p>{{hu}}</p>
                            </div>
                            <div class="col-sm-12 col-md">
                                <p>{{en}}</p>
                            </div>
                        </div>
                    </li>
                    {{/data.outcome_1}}
                </ol>
            </div>
            <hr>
            <h6>B. Képesség/Skills</h6>
            <div class="outcomes_2">
                <ol id="outcomes_2" style="padding: 0px;">
                    {{#data.outcome_2}}
                    <li class="outcomes_2">
                        <div class="row">
                            <div class="col-sm-12 col-md">
                                <p>{{hu}}</p>
                            </div>
                            <div class="col-sm-12 col-md">
                                <p>{{en}}</p>
                            </div>
                        </div>
                    </li>
                    {{/data.outcome_2}}
                </ol>
                <div class="container">
                </div>
                <hr>
                <h6>C. Attitűd/Attitude</h6>
                <div class="outcomes_3">
                    <ol id="outcomes_3" style="padding: 0px;">
                        {{#data.outcome_3}}
                        <li class="outcomes_3">
                            <div class="row">
                                <div class="col-sm-12 col-md">
                                    <p>{{hu}}</p>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <p>{{en}}</p>
                                </div>
                            </div>
                        </li>
                        {{/data.outcome_3}}
                    </ol>
                </div>
                <hr>
                <h6>D. Önállóság és felelősség/Independence and responsibility</h6>
                <div class="outcomes_4">
                    <ol id="outcomes_4" style="padding: 0px;">
                        {{#data.outcome_4}}
                        <li class="outcomes_4">
                            <div class="row">
                                <div class="col-sm-12 col-md">
                                    <p>{{hu}}</p>
                                </div>
                                <div class="col-sm-12 col-md">
                                    <p>{{en}}</p>
                                </div>
                            </div>
                        </li>
                        {{/data.outcome_4}}
                    </ol>
                </div>
                <hr>
                <h6 for="">2.3 Oktatásmódszertan - Methodology of teaching</h6>
                <div class='row'>
                    <div class='col-sm-12  col-md'>
                        <p>{{data.methodology}}</p>
                    </div>
                    <div class='col-sm-12  col-md'>
                        <p>{{data.methodology_en}}</p>
                    </div>
                </div>
                <hr>
                <h6>2.4 Tanulástámogató anyagok - Materials supporting learning</h6>
                <div class="supportmaterials">
                    <ol id="supportmaterials" style="padding: 0px;">
                        {{#data.supportmaterial}}
                        <li class="supportmaterials">
                            <div class="row">
                                <div class="col-sm-12 col-md">
                                    <p>{{hu}}</p>
                                </div>
                            </div>
                        </li>
                        {{/data.supportmaterial}}
                    </ol>
                </div>
            </div>
        </div>
        <h2>II. TANTÁRGYKÖVETELMÉNYEK - SUBJECT REQUIREMENTS</h2>
        <div class="collapse3">
            <h4>3. A TANULMÁNYI TELJESÍTMÉNY ELLENŐRZÉSE ÉS ÉRTÉKELÉSE - TESTING AND ASSESSMENT OF LEARNING PERFORMANCE</h4>
        </div>
        <div class="content3" id="content3">
            <h6>3.1 Általános szabályok - General rules</h6>
            <div class='row'>
                <div class='col-sm-12  col-md'>
                    <p>{{data.rules}}</p>
                </div>
                <div class='col-sm-12  col-md'>
                    <p>{{data.rules_en}}</p>
                </div>
            </div>
            <hr>
            <h6>3.2 Teljesítményértékelési módszerek - Assessment methods</h6>
            <div class='row'>
                <div class='col-sm-12  col-md'>
                    <p>{{data.assesment_methods_hu}}</p>
                </div>
                <div class='col-sm-12  col-md'>
                    <p>{{data.assesment_methods_en}}</p>
                </div>
            </div>
            <hr>
            <h6>3.3 Szorgalmi időszakban végzett teljesítményértékelések részaránya a minősítésben - Proportion of mid-term performance assessments in final grading</h6>
            <div class="midterm-list">
                <ol id="midterm" style="padding: 0px;">
                    <table class="table table-striped grading-table">
                        <tr>
                            <th>Megnevezés</th>
                            <th>Name</th>
                            <th>Százalék/percent</th>
                        </tr>
                        {{#data.midterm_proportions}}
                        <tr>
                            <td>{{hu}}</td>
                            <td>{{en}}</td>
                            <td>{{percent}}</td>
                        </tr>
                        {{/data.midterm_proportions}}
                    </table>
                </ol>
            </div>
            <hr>

            <h6>3.4 Vizsgaelemek részaránya a minősítésben</h6>
            <hr>
            <h6>3.5 Az aláírás megszerzésének feltétele, az aláírás érvényessége</h6>
            <div class='row'>
                <div class='col-sm-12  col-md'>
                    <p>{{data.signature}}</p>
                </div>
                <div class='col-sm-12  col-md'>
                    <p>{{data.signature_en}}</p>
                </div>
            </div>
            <hr>
            <h6>3.6 Érdemjegy-megállapítás - Grading</h6>
            <div class='row justify-content-center'>
                <table class="table table-striped grading-table">
                    <tr>
                        <th>Érdemjegy/grading</th>
                        <th>Grading</th>
                        <th>Százalék/percent</th>
                    </tr>
                    <tr>
                        <td>jeles (5)</td>
                        <td>Excellent [A]</td>
                        <td>{{data.excellent}}%</td>
                    </tr>
                    <tr>
                        <td>jeles (5)</td>
                        <td>Very Good [B]</td>
                        <td>{{data.very_good}}%</td>
                    </tr>
                    <tr>
                        <td>jó (4)</td>
                        <td>Good [C]</td>
                        <td>{{data.good}}%</td>
                    </tr>
                    <tr>
                        <td>közepes (3)</td>
                        <td>Satisfactory [D]</td>
                        <td>{{data.satisfactory}}%</td>
                    </tr>
                    <tr>
                        <td>elégséges (2)</td>
                        <td>Pass [E]</td>
                        <td>{{data.pass}}%</td>
                    </tr>
                    <tr>
                        <td>elégtelen (1)</td>
                        <td>Fail [F]</td>
                        <td>{{data.fail}}%</td>
                    </tr>
                </table>
            </div>
            <hr>
            <h6>3.7 Javítás és pótlás - Retake and make-up test</h6>
            <div class="row">
                <div class="col-sm-12 col-md">
                    <p>{{data.retake}}</p>
                </div>
                <div class="col-sm-12 col-md">
                    <p>{{data.retake_en}}</p>
                </div>
            </div>
            <hr>
            <h6>3.8 A tantárgy elvégzéséhez szükséges tanulmányi munka - Working hours needed to complete the course</h6>
            <div class="workinghours">
                <table class="table table-striped">
                    <tr>
                        <th>Munka jellege</th>
                        <th>Work type</th>
                        <th>Munkaórák száma/Amount of work hours</th>
                    </tr>
                    <tr>
                        {{#data.workhours_activity}}
                        <td>
                            {{type}}
                        </td>
                        <td>
                            {{type_en}}
                        </td>
                        <td>
                            {{amount}}
                        </td>
                    </tr>
                    {{/data.workhours_activity}}

                </table>
            </div>
            <h6>3.9 A tantárgykövetelmények jóváhagyása és érvényessége - Approval and validity of subject requirements</h6>
            <div class='row'>
                <div class='col-sm-12  col-md'>
                    <p>{{data.validity_2}}</p>
                </div>
                <div class='col-sm-12  col-md'>
                    <p>{{data.validity_en_2}}</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12  col-md">
                    <div>
                        <h6>Jóváhagyás dátuma</h6>
                        <p>{{data.validby_2}}</p>
                    </div>
                </div>
                <div class=" col-sm-12  col-md">
                    <div>
                        <h6>Érvényesség vége</h6>
                        <p>{{data.validuntil_2}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h2>III. RÉSZLETES TANTÁRGYTEMATIKA - COURSE CURRICULUM</h2>
        <div class="collapse4">
            <h4>4 TEMATIKAI EGYSÉGEK ÉS TOVÁBBI RÉSZLETEK - THEMATIC UNITS AND FURTHER DETAILS</h4>
        </div>
        <div class="content4" id="content4">
            <div class="topic-summary" id="topic-summary">
                <h6>4.1 A félévben sorra vett témák - Topics discussed during the semester</h6>
                <div class='row'>
                    <div class='col-sm-12  col-md'>
                        <p>{{data.topic_summary_en}}</p>
                    </div>
                    <div class='col-sm-12  col-md'>
                        <p>{{data.topic_summary_en}}</p>
                    </div>
                </div>
            </div>
            <h6>Előadások témái</h6>
            <div class="topics">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Téma</th>
                        <th>Topic</th>
                    </tr>
                    {{#data.topics}}
                    <tr>
                        <td>TBD</td>
                        <td>{{hu}}</td>
                        <td>{{en}}</td>
                    </tr>
                    {{/data.topics}}
                </table>
            </div>
            <h6>4.2 További oktatók – Lecturers participating in teaching</h6>
            <ol id="tutors" style="padding: 0px;">
                <table class="table table-striped">
                    <tr>
                        <th>Név/Name</th>
                        <th>Beosztás/Rank</th>
                        <th>Elérhetőség/Contact</th>
                    </tr>
                    {{#data.lecturers}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{rank}}</td>
                        <td>{{contact}}</td>
                    </tr>
                    {{/data.lecturers}}
                </table>
            </ol>
            <hr>
            <h6>4.3 A tantárgykövetelmények jóváhagyása és érvényessége - Approval and validity of subject requirements</h6>
            <div class='row'>
                <div class='col-sm-12  col-md'>
                    <p>{{data.validity_3}}</p>
                </div>
                <div class='col-sm-12  col-md'>
                    <p>{{data.validity_en_3}}</p>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-12  col-md">
                    <div>
                        <h6>Jóváhagyás dátuma</h6>
                        <p>{{data.validby_3}}</p>
                    </div>
                </div>
                <div class=" col-sm-12  col-md">
                    <div>
                        <h6>Érvényesség vége</h6>
                        <p>{{data.validuntil_3}}</p>
                    </div>
                </div>
            </div>
        </div>
</div>

<input type="hidden" name="ou" id="id_ou">
<input type="hidden" name="ou_en" id="id_ou_en">
<input type="hidden" name="outcomes_value_1" id="id_outcomes_value_1">
<input type="hidden" name="outcomes_value_2" id="id_outcomes_value_2">
<input type="hidden" name="outcomes_value_3" id="id_outcomes_value_3">
<input type="hidden" name="outcomes_value_4" id="id_outcomes_value_4">
<input type="hidden" name="supportmaterial" id="id_supportmaterial">
<input type="hidden" name="midterm_proportions" id="id_midterm_proportions">
<input type="hidden" name="exam_proportions" id="id_exam_proportions">
<input type="hidden" name="workhours_activity" id="id_workhours_activity">
<input type="hidden" name="topics" id="id_topics">
<input type="hidden" name="topics_summary" id="id_topics_summary">
<input type="hidden" name="lecturers" id="id_lecturers">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>